:root {
    --accent: #ea918d;
    --accentHover: #de8a86;
    --dark: #304659;
    --dark80: rgba(48, 70, 89, 0.8);
    --dark60: rgba(48, 70, 89, 0.6);
    --light: #f5f9fc;
    --transition: all 0.3s ease 0s;
    --rojo: hsl(0, 100%, 74%);
    --verde: hsl(154, 59%, 51%);
    --azul: hsl(248, 32%, 49%);
    --azul-D: hsl(249, 10%, 26%);
    --azul-G: hsl(246, 25%, 77%);
    --azul-S: hsla(248, 32%, 49%, 0.5);
    --verde-S: hsla(154, 59%, 51%, 0.5);
    --blanco: white;
}

html, body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    height: 100%;
    scroll-behavior: unset;
}

body {
    color: white;
    background-image: linear-gradient(var(--dark60), var(--dark60)), url("images-index/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}

article {
    padding: 1rem;
}

#pag {
    margin-left: 1rem;
    font-size: x-large;
    font-weight: 500;
    font-family: 'Secular One', sans-serif;
}

.logo-container {
    padding: 10px 20px;
    margin: auto 0;
}

.logo-container img {
    border-radius: 10%;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    color: white;
    margin: auto;
    padding: 1em;
    font-size: x-large;
}

.nav h3 {
    padding: .5em;
    margin: .5em;
}

.nav a {
    line-height: 2em;
    position: relative;
    font-family: 'Rubik', sans-serif;
}

.nav a::after {
    content: "";
    background-color: #fdee87;
    position: absolute;
    left: 0;
    top: 70%;
    width: 100%;
    height: 0.2rem;

    opacity: 0;
    transition: opacity 0.3s;
}

.nav a:hover::after {
    opacity: 0.8;
    color: #1548ac;
}


.top {
    font-size: 0.5em;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
    color: white;
}

.left {
    margin: 0 2rem 2rem 2rem;
    padding: 2rem;
    top: 2em;
    position: sticky;
    flex-direction: column;
    width: 20vw;
    height: calc(100vh - 8em);
    text-align: justify-all;
    background-color: var(--dark60);
    overflow-y: scroll;
}

.left h2 {
    margin-top: 0;
    font-family: 'Trispace', sans-serif;
}

.left h3 {
    font-style: italic;
}

.left p {
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

.left figcaption {
    font-size: 0.9rem;
}

.left article {
    width: 90%;
    margin: .5rem;
}

.left article div {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    text-align: justify-all;
}

.left article div p {
    width: 50%
}

.left article div figure {
    margin: .5rem;
    padding: .5rem;
    width: 40%;
}

.left article div figure img {
    width: 100%;
}

main {
    margin: 0 2rem 2rem 2rem;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: var(--dark80);
}


main h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 1000;
    font-size: 3rem;
}

main h2 {
    font-family: 'Trispace', sans-serif;
    font-size: 2rem;
}

main p {
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

footer {
    min-height: available;
    width: 100%;
    margin-left: calc(20vw + 8rem);
    align-items: center;
    display: flex;
    flex-direction: column;
}

figure {
    display: inline-block;
    margin: 0;
}

.center {
    justify-content: center;
}

.spaces {
    line-height: 25px;
}

.mosaic {
    padding: 15px;
}

.mosaic figcaption {
    font-weight: 700;
}

a, a:visited, a:active, a:link {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    size: 1.5em;
}


.mapag iframe {
    width: 50vw;
    height: 40vh;
}

td {
    text-align: center;
    width: available;
    border-style: outset;
    padding: .5em;
}


#menu {
    align-self: center;
    margin: 2em;
    display: none;
    padding: 14px 0;
    height: 32px;
    width: 60px;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    background: rgb(255, 255, 255);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

#menu:hover {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#menu .bar {
    height: 4px;
    width: 30px;
    border-radius: 2px;
    margin: 5px auto;
    display: block;
    z-index: 9999;
    background: #aaa;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.spaces {
    width: 100%;
}

.spaces a img {
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.button {
    line-height:0.1em;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2em;
    padding: 2rem;
    transition: all 0.5s;
    cursor: pointer;
    min-width: min-content;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media (max-width: 1650px) {
    body {
        background-size: auto 100%;
    }

    .nav {
        display: none;
    }

    #menu {
        display: block;
    }

    .left article {
        width: 100%;
    }

    .left {
        width: 100vw;
        flex-direction: row;
        border-right-style: none;
        border-bottom-style: solid;
        position: inherit;
        height: 40vh;
    }

    main {
        width: 100vw;
    }

    footer {
        margin: 0;
    }

    .nav a::after {
        content: none;
    }

}

.quieto {
    overflow: hidden;
}

.menu-abierto {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    padding: 0;
    width: 50vw;
    background: #f5f9fc;
}

.menu-abierto a {
    background: #304659;
    border-collapse: collapse;
    border-bottom: #f5f9fc;
    border-bottom-style: solid;
    border-left: #f5f9fc;
    border-left-style: solid;
}

.menu-abierto a:hover {
    background: rgba(52, 158, 164, 0.49);
}

.arrow {
    position: inherit;
    cursor: pointer;
    width: 4.3rem;
    height: 100%;
}

.lugaresC div {
    border-bottom: solid white;
}

.historia {
    border-top: solid white;
}

.carrusel {
    display: flex;
    flex-direction: row;
    align-content: space-between;

}

.carrusel button {
    background: transparent;
    border: 0;
    outline: 0;
    height: 100%;
    margin-top: 30%;
}

.carrusel svg {
    padding: 5px;
}

.lefta {
    left: 0;
}

.righta {
    left: 0;
}

.lefta:hover polyline, .lefta:focus polyline, .righta:hover polyline, .righta:focus polyline {
    stroke-width: 3;
}

polyline {
    transition: all 250ms ease-in-out;
}

.carrusel article {
    margin: 2rem;
    width: 85%;
    padding: 1rem;
}

.carrusel article figure img {
    max-width: 30vw;
}

.spaces a img {
    background: white;
}

.nl {
    width: 95vw;
    margin: 2rem;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    overflow-y: scroll;
    background: rgba(41, 138, 204, 0.49);
    height: 70vh;
}

#contenedor-tiendas {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}

#tarjeta {
    max-width: 70%;
    padding: 2rem;
}


#tarjeta img {
    max-width: 50%;
}

#tarjeta div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#tarjeta div figure {
    width: 40%;
}

#tarjeta div figure img {
    height: auto;
    width: 100%;
}


#contenedor-tiendas div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: available;
    max-width: 40%;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
}


#contenedor-tiendas div p {
    width: 100%;

}

#contenedor-tiendas div img {
    width: 100%;

}

.banner {
    right: 0;
    margin: 0;
    padding: .5rem;
    width: 17%;
    text-align: center;
    align-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 68vh;
    background-image: url('images-comida/Banner_side.jpg');
    background-size: cover;
    background-position: center center;
    border: black solid 2px;
}

.banner h3, .banner p, .banner ul {
    background: rgba(0, 0, 0, 0.59);
    padding: 0;
    margin: 0;
}


.oculto {
    display: none;
}

#contenedor-tiendas.oculto {
    display: none;
}


.main-container {
    width: 50%;
}

.main-container section h1 {
    width: 90%;
    line-height: 2rem;
    margin: -0.6rem auto 1rem;
}

.description {
    text-align: center;
    margin: 0 1.5rem 4rem;
}

.donate {
    background-color: var(--azul);
    width: 18rem;
    height: 9rem;
    padding: 1.8rem 2rem;;
    text-align: center;
    border-radius: 1rem;
    margin: 2rem auto;
    box-shadow: 0 6px 0 var(--azul-S);
    box-sizing: border-box;
}

.donate span {
    font-weight: 700;
}

.form-container {
    background-color: var(--blanco);
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 6px 0 var(--azul-D);
    margin: auto;
    padding-bottom: 1rem;
}

.form-container input {
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    border: 1px solid var(--azul-G);
    outline: none;
    font-family: Rubik, sans-serif;
}


.error-container {
    position: relative;
}

.icon-error {
    position: absolute;
    right: 1em;
    top: -2.5em;
}

.error {
    color: var(--rojo);
    font-style: italic;
    text-align: right;
    font-size: 0.8rem;
    margin: -1rem 0 1.3rem;
    font-weight: 700;
}

.terminos {
    color: black;
    font-size: 0.9rem;
    margin: 0 14px;
}

.terminos a {
    color: var(--rojo);
    font-weight: 700;
}

@media (min-width: 1650px) {

    .main-container {
        display: flex;
        width: 80%;
    }

    .main-container section h1 {
        font-size: 3em;
        width: 500px;
        line-height: 55px;
        margin-bottom: 30px;
        margin-left: 10px;;
    }

    .description {
        text-align: left;
    }

    section:nth-child(1) {
        padding-top: 10rem;
        padding-right: 5rem;
        width: 570px;
    }

    section:nth-child(2) {
        width: 540px;
    }

    .donate {
        width: 100%;
        height: 80px;
    }

}

.button-container {
    display: flex;
    flex-direction: row;
}