:root {
    --accent: #ea918d;
    --accentHover: #de8a86;
    --dark: #304659;
    --dark80: rgba(48, 70, 89, 0.8);
    --dark60: rgba(48, 70, 89, 0.6);
    --light: #f5f9fc;
    --transition: all 0.3s ease 0s;
}

html, body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    height:100%;
    scroll-behavior: unset;
}
body{
    color: white;
    background-image: linear-gradient(var(--dark60), var(--dark60)), url("images-index/fondo.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:  100% 100%;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}

#pag {
    font-size: xx-large;
}

.logo-container {
    padding: 10px 20px;
    margin: auto 0;
}

.nav {
    display: flex;
    flex-direction: row;
    color:white;
    margin: auto ;
    padding: 1em;
    font-size: x-large;
}

.nav h3{
    padding: .5em;
    margin: .5em;
}

.top {
    font-size: 0.5em;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
    color: white;
}

.left {
    margin: 2rem ;
    padding: 2rem;
    top: 2em;
    position: sticky;
    flex-direction: column;
    width: 20vw;
    height: calc(100vh - 8em);
    text-align: justify-all;
    background-color: var(--dark60);
    overflow-y: scroll;
}

.left h2{
    margin-top: 0;
}

.left article{
    width: 100%;
    margin: .5rem;
}

.left article div{
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    text-align: justify-all;
}

.left article div p{
    width: 50%
}

.left article div figure{
    margin: .5rem;
    padding: .5rem;
    width: 40%;
}

.left article div figure img{
    width: 100%;
}

main {
    margin: 2rem ;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: var(--dark80);
}



footer{
    min-height: available;
    width: 100%;
    margin-left: calc(20vw + 8rem);
    align-items: center;
    display: flex;
    flex-direction: column;
}

figure{
    display: inline-block;
    margin: 0;
}

.center{
    justify-content: center;
}

.spaces{
    line-height: 25px;
}

.mosaic{
    padding: 15px;
}

a, a:visited, a:active, a:link{

    color: white;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    size: 1.5em;
}



.mapag iframe{
    width: 50vw;
    height: 40vh;
}

td{
    text-align: center;
    width: available;
    border-style: outset;
    padding: .5em;
}

.oculto{
    display: none;
}

#menu {
    align-self: center;
    margin: 2em;
    display: none;
    padding: 14px 0;
    height: 32px;
    width: 60px;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    background: rgb(255, 255, 255);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

#menu:hover {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#menu .bar {
    height: 4px;
    width: 30px;
    border-radius: 2px;
    margin: 5px auto;
    display:block;
    z-index: 9999;
    background: #aaa;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

 .spaces{
     width: 100%;
 }

 .spaces img{
     width: 100%;
 }

@media (max-width: 1650px){
    body{
        background-size: auto 100% ;
    }
    .nav{
        display: none;
    }
    #menu{
        display: block;
    }
    .left article{
        width: 100%;
    }
    .left{
        width: 100vw;
        flex-direction: row;
        border-right-style: none;
        border-bottom-style: solid;
        position: inherit;
        height: 40vh;
    }
    main{
        width: 100vw;
    }
}

.quieto{
    overflow: hidden;
}

.menu-abierto {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    padding: 0;
    width: 30vw;

}

.menu-abierto a{
    background: #304659;
    border-collapse: collapse;
    border-bottom: #f5f9fc;
    border-bottom-style: solid;
    border-left: #f5f9fc;
    border-left-style: solid;
}

.menu-abierto a:hover{
    background: rgba(52, 158, 164, 0.49);
}